body {
  font-family: Georgia, serif;
  background-color: LightGray;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

p {
  font-family: Georgia, serif;
}

/* div {
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

img {
  width: 100%;
  height: auto;
}

iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

form {
  display: inline;
}

/* Begin: Diverse Classes */
.textblock {
  background-color: white;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px black;

  /* border-left:1em solid transparent;
  border-right:1em solid transparent; */
  text-overflow: scroll;
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.right {
  float: right;
  margin-left: 10px;
}

.licence {
  font-size: 7px;
  color: grey;
  text-align: right;
}

.importanttext {
  font-weight: bold;
  color: #ff0000;
}

.composervideos {
  width: 100%;
  text-align: center;
}

/* End: Diverse Classes */
/* Begin: Needed Classes for Menue */
.menuetable {
  overflow-x: auto;
}

.menuetitle {
  font-family: Vivaldi, "Brush Script MT", fantasy;
  font-weight: bold;
  font-size: 3em;
}

.menuespace {
  width: 20%;
}

.menuefield a {
  position: relative;
  display: inline-block;
}

.menuebutton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.menuefield:hover .menuebutton {
  background-color: #3e8e41;
}

/* End: Needed Classes for Menue */
